
CGRayTracing/.vs/CGRayTracing/v17/Browse.VC.db-wal
CGRayTracing/.vs/CGRayTracing/v17/Browse.VC.db
CGRayTracing/.vs/CGRayTracing/v17/Browse.VC.db-shm
CGRayTracing/.vs/CGRayTracing/v17/Browse.VC.opendb
CGRayTracing/.vs/CGRayTracing/v17/ipch/AutoPCH/b94c3115bdf210e6/MAIN.ipch
CGRayTracing/.vs/CGRayTracing/v17/ipch/AutoPCH/fdd55f1ee84da1af/CGRAYTRACING.ipch
CGRayTracing/CGRayTracing.sln
CGRayTracing/CGRayTracing.vcxproj
CGRayTracing/CGRayTracing.vcxproj.filters
CGRayTracing/CGRayTracing.vcxproj.user
CGRayTracing/x64/Debug/CGRayTracing.exe
CGRayTracing/x64/Debug/CGRayTracing.exe.recipe
CGRayTracing/x64/Debug/CGRayTracing.ilk
CGRayTracing/x64/Debug/CGRayTracing.log
CGRayTracing/x64/Debug/CGRayTracing.pdb
CGRayTracing/x64/Debug/CGRayTracing.tlog/CGRayTracing.lastbuildstate
CGRayTracing/x64/Debug/CGRayTracing.tlog/CL.command.1.tlog
CGRayTracing/x64/Debug/CGRayTracing.tlog/Cl.items.tlog
CGRayTracing/x64/Debug/CGRayTracing.tlog/link.command.1.tlog
CGRayTracing/x64/Debug/CGRayTracing.tlog/link.read.1.tlog
CGRayTracing/x64/Debug/CGRayTracing.tlog/link.write.1.tlog
CGRayTracing/x64/Debug/CGRayTracing.tlog/unsuccessfulbuild
CGRayTracing/x64/Debug/CGRayTracing.vcxproj.FileListAbsolute.txt
CGRayTracing/x64/Debug/vc143.idb
CGRayTracing/x64/Debug/vc143.pdb
CGRayTracing/.vs/CGRayTracing/FileContentIndex/3cd58be0-4284-423b-8c2f-3be3b2c28ac3.vsidx
CGRayTracing/.vs/CGRayTracing/FileContentIndex/59445990-b682-4324-858b-cdfb7030f4e9.vsidx
CGRayTracing/.vs/CGRayTracing/v17/.suo
CGRayTracing/.vs/CGRayTracing/FileContentIndex/d4066175-ba56-4147-af92-8ebb902773d0.vsidx
CGRayTracing/.vs/CGRayTracing/FileContentIndex/d15d8c86-f7b6-4fa2-9f06-a8ac7c4f3c4a.vsidx
CGRayTracing/x64/Debug/CGRayTracing.tlog/CL.read.1.tlog
CGRayTracing/x64/Debug/CGRayTracing.tlog/CL.write.1.tlog
CGRayTracing/x64/Debug/main.obj
CGRayTracing/output.ppm
CGRayTracing/.vs/CGRayTracing/FileContentIndex/8f387ed7-0eab-4490-89dc-ab89db431436.vsidx
*.vsidx
*.ipch
CGRayTracing/.vs/CGRayTracing/v17/Solution.VC.db
